tr {
	border: solid 1px rgb(107, 55, 44);

	background-color: rgb(255, 250, 250);
	color:            rgb(107,  55,  44);
}

.button { width: 49%; }

#id_user,
#id_task {
	height: 30px;

	margin: 2px 0px 2px 0px;
	padding: 5px;

	border: solid 1px rgb(107, 55, 44);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	background-color: rgb(255, 250, 250);
	color: rgb(38, 19, 24);

	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#id_user:focus,
#id_task:focus {
	border: solid 2px rgb(38, 19, 24);
}

#id_user { width: 25%; }
#id_task { width: 70%; }

